* {
    box-sizing: border-box;
    scrollbar-width: none;
    background-color: #13171a;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 20px auto;
    width: 80%;
    max-width: 1600px;
}

nav h2 {
    margin: 20px auto;
}

nav h2 span {
    transition: 150ms linear;
}

nav h2:hover span {
    color: white;
}

nav li {
    display: inline;
    margin: 0 20px;
    font-size: 17px;
}

section {
    display: flex;
    margin: auto;
    width: 80%;
    max-width: 1600px;
}

h1 {
    font-size: 50px;
}

a, a:active, a:visited {
    text-decoration: none;
    color: inherit;
    transition: 200ms linear;
}

a:hover {
    color: #add8e6;
}

a.current-anchor {
    color: #add8e6;
    transition: 200ms linear;
}

a.current-anchor:hover {
    color: white
}

#intro {
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    height: 50vh;
    max-height: 50vh;
}

#intro-image {
    width: 25vw;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
}

.intro h1 {
    margin-bottom: auto;
}

.intro-text {
    margin-right: 10%;
}


/* --- helpful tools --- */
.text-fancy {
    color: #add8e6;
}

.no-bullets {
    list-style-type: none;
}

.inline {
    display: inline;
}

.visible {
    opacity: 1;
}

.test {
    border: 1px solid red;
}


/* --- animations --- */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}